.reviews {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    background-color: @extralight-gray;
    overflow: hidden;

    &__container {
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 1295px;
        margin: 0 auto;
        padding: 57px 92px 45px;
        @media @bw1020 {
            padding: 33px 22px 40px;
        }
        @media @bw768 {
            padding: 26px 18px 37px;
        }
        @media @bw350 {
            padding: 26px 18px 30px;
        }
    }
    
    &__title {
        margin: 0 auto;
        padding-right: 20px;
        color: @black;
        font-family: @font2;
        font-size: 40px;
        font-weight: @font_weight2;
        line-height: 1.4;
        text-align: center;
        @media @bw768 {
            font-size: 24px;
            padding-right: 0;
        }
    }
    &__swiper {
        width: 100%;
        margin-top: 32px;
        @media @bw768 {
            margin-top: 25px;
        }
    }
}
.arrow {
    padding: 0;
    border: none;
    background: none;
    color: @primary;
    font-size: 0;
    text-decoration: none;
    cursor: pointer;

    &__icon {
        width: 32px;
        height: 32px;
    }
}
.arrow--left {
    transform: rotate(180deg);
}
.hoverable-path {
    transition: fill 0.3s ease;
}

svg:hover .hoverable-path {
    fill: @primary-hover;
}